.lista {
  .titulo {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .cardapios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }
}
