<div class="container">
  <h1>Novo Cardápio</h1>
  <form [formGroup]="cardapioForm" (ngSubmit)="salvar()">
    <div class="campo">
      <label for="titulo">Título</label>
      <input type="text" id="titulo" formControlName="titulo">
      <p *ngIf="!titulo?.valid && (titulo?.dirty || titulo?.touched)" class="error">
        Campo obrigatório
      </p>
    </div>
    <div class="campo">
      <label for="imagem">Imagem</label>
      <input type="text" id="imagem" formControlName="imagem">
      <p>{{ this.cardapioForm.get('imagem')?.value }}</p>
    </div>
    <div class="campo">
      <label for="endereco">Endereço</label>
      <input type="text" id="endereco">
    </div>
    <div class="campo">
      <label for="cidade">Cidade</label>
      <input type="text" id="cidade">
    </div>
    <div class="campo">
      <label for="telefone">Telefone</label>
      <input type="text" id="telefone">
    </div>
    <div class="checkboxes">
      <div class="checkbox">
        <input type="checkbox" id="destaques" />
        <label for="destaques">Destaques</label>
      </div>
      <div class="checkbox">
        <input type="checkbox" id="novidades" />
        <label for="novidades">Novidades</label>
      </div>
    </div>
    <div class="acoes">
      <button routerLink="" class="btn-outlined" type="button">Voltar</button>
      <button type="submit" class="btn-primary">Salvar</button>
    </div>
  </form>
</div>
